.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
}

.line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-two {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.line-three {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
